{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Karate Valley Park System</title>
	<link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap" rel="stylesheet">
	<link href="{% static 'css/style.css'%}" rel="stylesheet">
</head>
<body>
	<div class="banner-text">
		<h>Karate Valley Park Login</h>
	</div>
    <div id="frm">
        <form method="POST">
            
            <!--
            <p>
                <label for="user">Username:</label>
                <input type="text" id="user" name="user"  />
            </p>
            <p>
                <label for="pass">Password:</label>
                <input type="password" id="pass" name="pass"  />
            </p>
            -->
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <label for="Login">Login</label>
                <input type="submit" id="btn" value="Login"  />
            </p>
        </form>
    </div>
    <div class="image">
        <img src="{% static 'img/acorn.svg' %}"/>
    </div>
	<div class="animation-area">
		<ul class="box-area">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
            <li></li>
            <li></li>
            <li></li>
		</ul>
	</div>
    
</body>